// Mixins ----------

@mixin flex {
    display: flex;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin off-screen {
    position: absolute;
    left: -100vw;
}
