/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: 768px) {
    .mobile-nav-toggle {
        width: 50px;
    }

    .nav-li {
        margin-bottom: 2.5rem;
        font-size: 1.5rem;
    }

    .about-me-text {
        margin: 1rem 7rem;
    }

    .skills-container {
        padding: 0 3rem;
    }

    .social-icon {
        width: 60px;
        height: 60px;
    }

    .to-top {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .header {
        height: 75vh;
    }

    .my-photo {
        top: 175px;
        left: 10%;
    }

    .header-text {
        top: 250px;
        right: 0;
        left: 0;
    }

    .about-me-text {
        margin: 1rem 10rem;
    }

    .skills-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-img {
        max-width: 50%;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1450px) {
    .my-photo {
        left: 25%;
    }
}
